page-tabs{
    .tabs-md .tab-button[aria-selected=true],
    .tabs-ios .tab-button[aria-selected=true] {
        color: #d74214;
        padding: 0;
    }
    .tabs-md .tab-button[aria-selected=true] .tab-button-icon,
    .tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
        color: #4aa9d5;
    }
}