<!-- <ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Reports" tabIcon="list-box"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Profile" tabIcon="person"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Plan" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Settings" tabIcon="cog"></ion-tab>
  <ion-tab [root]="tab6Root" tabTitle="Shuttle" tabIcon="custom-bus"></ion-tab>
</ion-tabs> -->

<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="Bus" tabIcon="custom-bus"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Shuttle" tabIcon="custom-bus"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Cab" tabIcon="car"></ion-tab>
  </ion-tabs>
