page-plan {
  .image-with-text-over-it .p1 {
    position: absolute;
    bottom: 1.8em;
    left: 0;
    margin-left: 35%;
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
    background: rba(0, 0, 0, 0.8);
  }
  .p2 {
    position: absolute;
    bottom: 1.3em;
    left: 0;
    margin-left: 25%;
    color: #fff;
    font-weight: bold;
    background: rba(0, 0, 0, 0.8);
  }
  .my-class{
    background-color: #eff3f7; letter-spacing: 1.5px; padding: 0px;
  }

  .my-class2{
    background-color: #f8c9c9; letter-spacing: 1.5px; padding: 0px;
  }
}
