<ion-header>
  <ion-navbar color="customCol">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      My Roster
    </ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only clear (click)="_showWeekly()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-row style="background: #eff3f7">
    <ion-col col-12>
      <!-- <ion-row>
        <ion-col col-3>Week From</ion-col>
        <ion-col col-4 style="text-align: right">{{_commonVar.firstday | date: 'mediumDate'}}</ion-col>
        <ion-col col-2 style="text-align: center;">To</ion-col>
        <ion-col col-3 style="text-align: left;">{{_commonVar.lastday | date: 'mediumDate'}}</ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col col-5 style="text-align: right">{{_commonVar.firstday | date: 'mediumDate'}}</ion-col>
        <ion-col col-2 style="text-align: center;">&mdash;</ion-col>
        <ion-col col-5 style="text-align: left;">{{_commonVar.lastday | date: 'mediumDate'}}</ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <div *ngIf="_commonVar._plansD.length > 0">
    <ion-card *ngFor="let plan of _commonVar._plansD; let i = index"
      [ngClass]="{'my-class': plan._status != 'CANCELLED', 'my-class2':plan._status == 'CANCELLED' }">
      <ion-card-content no-padding>
        <ion-item style="background: transparent; padding: 0px;">
          <ion-avatar item-start style="min-width: 90px;
        min-height: 90px;">
            <div class="image-with-text-over-it" style="position: absolute; top: RANDOMVALUE; left: RANDOMVALUE;">
              <img src="assets/imgs/google-calendar.png" style="width: 90px; height: 90px;" />
              <p class="p1">{{plan._date1}}</p>
              <p class="p2">{{plan._date2}}</p>
            </div>
          </ion-avatar>
          <h2 *ngIf="!plan._changeShift"><b>{{plan._shiftName1}}</b>&nbsp;To&nbsp;<b>{{plan._shiftName2}}</b></h2>
          <ion-item *ngIf="plan._changeShift" style="background: transparent; padding: 0px;">
            <ion-label style="color: #5b5f63">Select Shift</ion-label>
            <ion-select [(ngModel)]="_commonVar._selectedShift">
              <ion-option *ngFor="let shift of _commonVar._shifts" [value]="shift.name"
                (ionSelect)="_shiftChanged(shift)">{{shift.name}}</ion-option>
            </ion-select>
          </ion-item>
          <p>Status&mdash;{{plan._status}}</p>

          <button ion-button item-end icon-only clear (click)="_editPlan(plan, i)" style="color: #4aa9d5;"
            *ngIf="!plan._changeShift && plan._status != 'CANCELLED'">
            <ion-icon name="create" style="font-size: 2.5em;"></ion-icon>
          </button>
          <button ion-button item-end icon-only clear (click)="_savePlan(plan, i)" style="color: #d74214;"
            *ngIf="plan._changeShift">
            <ion-icon name="done-all" style="font-size: 2.5em;"></ion-icon>
          </button>

          <button ion-button item-end icon-only clear (click)="_cancelPlan(plan, i)" style="color: #d74214;"
            *ngIf="!plan._changeShift && plan._status != 'CANCELLED'">
            <ion-icon name="close" style="font-size: 2.5em;"></ion-icon>
          </button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card *ngIf="_commonVar._plansD.length == 0">
    <ion-card-content>
      No Plans found in this week..
    </ion-card-content>
  </ion-card>
  <ion-fab right bottom>
    <button ion-fab color="gpsc" (click)="_nextWeek('nextweek')">
      <ion-icon name="arrow-round-forward"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab left bottom *ngIf="_commonVar._showBTN">
    <button ion-fab color="gpsc" (click)="_nextWeek('priviousweek')">
      <ion-icon name="arrow-round-back"></ion-icon>
    </button>
  </ion-fab>
</ion-content>