<ion-header>
  <ion-navbar color="customCol">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Shuttle</ion-title>  
    <span>
      <ion-icon name="calendar" style="color: white;    position: absolute;
      right: 90px;
      top: 21px;"></ion-icon>
    </span>
    <ion-buttons end> 
      <ion-datetime class="dateStyle" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeStart"
        (ionChange)="getList()" style="color: white;"></ion-datetime>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
<ion-grid >
  <ion-row *ngFor="let item of listdata">
    <ion-col>
        <ion-card style="border-radius: 5px;">

            <ion-item>
                <ion-avatar item-start>
                    <img src="assets/icon/bus.png">
                  </ion-avatar>
              <h2>{{item.shuttle_id.Name}}</h2>
              <!-- <p>November 5, 1955</p> -->
            </ion-item>

            <ion-row padding-left>
                <ion-col>
                  <p style="color: red;font-size: 13px; margin: 10px auto;"> {{item.Device['availableSeat']}} seats left</p>
                </ion-col>
                <ion-col text-center>
                        <p style="font-size: 15px; color: black;margin: 8px auto;">
                          {{item.endTimeHHMM}}
                        </p>
                </ion-col>
                <ion-col align-self-center text-center>
                        <button [disabled]= "item.Device['availableSeat'] == 0" ion-button small (click)="book(item)" color="danger">
                            Book Seat
                        </button>
                </ion-col>
              </ion-row>
          
          </ion-card>
          <!-- <ion-card style="border-radius: 5px;">
              <ion-item>
                  <ion-avatar item-start>
                      <img src="assets/icon/bus.png">
                    </ion-avatar>
                <h2>Venkatesh Tours & Tarvels</h2>
              </ion-item>
              <ion-row padding-left>
                  <ion-col>
                    <p style="color: red;font-size: 13px;margin: 10px auto;">Only 4 seats left</p>
                  </ion-col>
                  <ion-col text-center>
                          <p style="font-size: 15px; color: black;margin: 8px auto;">
                                  8:30 PM
                          </p>
                  </ion-col>
                  <ion-col align-self-center text-center>
                          <button ion-button small (click)="book()">
                              Book Seat
                                </button>
                  </ion-col>
                </ion-row>
            
            </ion-card>
            <ion-card style="border-radius: 5px;">
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/icon/bus.png">
                      </ion-avatar>
                      <h2>Venkatesh Tours & Tarvels</h2>
                </ion-item>
                <ion-row padding-left>
                    <ion-col>
                      <p style="color: red;font-size: 13px;margin: 10px auto;">Only 4 seats left</p>
                    </ion-col>
                    <ion-col text-center>
                            <p style="font-size: 15px; color: black;margin: 8px auto;">
                                    8:30 PM
                            </p>
                    </ion-col>
                    <ion-col align-self-center text-center>
                            <button ion-button small (click)="book()">
                                Book Seat
                                  </button>
                    </ion-col>
                  </ion-row>
              
              </ion-card>
              <ion-card style="border-radius: 5px;">
                  <ion-item>
                      <ion-avatar item-start>
                          <img src="assets/icon/bus.png">
                        </ion-avatar>
                        <h2>Venkatesh Tours & Tarvels</h2>
                  </ion-item>
                  <ion-row padding-left>
                      <ion-col>
                        <p style="color: red;font-size: 13px; margin: 10px auto;">Only 4 seats left</p>
                      </ion-col>
                      <ion-col text-center>
                              <p style="font-size: 15px; color: black;margin: 10px auto;">
                                      8:30 PM
                              </p>
                      </ion-col>
                      <ion-col align-self-center text-center>
                              <button ion-button small (click)="book()">
                                  Book Seat
                                    </button>
                      </ion-col>
                    </ion-row>
                
                </ion-card>
                <ion-card style="border-radius: 5px;">
                    <ion-item>
                        <ion-avatar item-start>
                            <img src="assets/icon/bus.png">
                          </ion-avatar>
                          <h2>Venkatesh Tours & Tarvels</h2>
                    </ion-item>
                    <ion-row padding-left>
                        <ion-col>
                          <p style="color: red;font-size: 13px;margin: 10px auto;">Only 4 seats left</p>
                        </ion-col>
                        <ion-col text-center>
                                <p style="font-size: 15px; color: black;">
                                        8:30 PM
                                </p>
                        </ion-col>
                        <ion-col align-self-center text-center>
                                <button ion-button small (click)="book()">
                                    Book Seat
                                      </button>
                        </ion-col>
                      </ion-row>
                  
                  </ion-card> -->
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
