page-profile {
    .profile-image{
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }

    // #map_canvaspickup {
    //     height: 200px;
    //     width: 390px;
    // }

    #map_canvas{
        height: 200px;
        width: 390px;
    }
}
