<ion-header>
  <ion-navbar color="customCol">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let dataofstudent of profilesStudent">
    <div align="center" style="margin-top: 20%;">
      <img class="profile-image" src="assets/imgs/dummy_user.jpg">
      <h6 style="font-size: 2.4rem;">{{dataofstudent.students.name.fname}}</h6>
    </div>

    <ion-row style="margin:2%;border-bottom: 1px solid lightgrey;">
      <ion-col col-4 style="font-size: 16px;color: gray;">
        <ion-icon name="school"></ion-icon>&nbsp;Company
      </ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-7 style="text-align: left;font-size: 18px;color:black;">
        {{dataofstudent.students.school.schoolName}}
      </ion-col>
    </ion-row>

    <ion-row style="padding:2%;">
      <ion-col col-4 style="font-size: 16px;color: gray;">
        <ion-icon name="pin"></ion-icon>&nbsp;Company Add
      </ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-7 style="text-align: left;font-size: 18px;color:black;">
        {{dataofstudent.students.school.address}}</ion-col>
    </ion-row>
    <h6 style="padding:4%;">COMPANY LOCATION</h6>
    <div id="{{schoolmapid}}" style="height: 200px;width: 100%;">
      {{schoolmapid}}</div>
    <!-- <ion-row style="margin:2%;border-bottom: 1px solid lightgrey;">
      <ion-col col-4 style="font-size: 16px;color: gray;">
        <ion-icon name="pin"></ion-icon>&nbsp;Division
      </ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-7 style="text-align: left;font-size: 18px;color:black;">{{dataofstudent.students.class.className}}
      </ion-col>
    </ion-row> -->
    <ion-row style="margin:2%;border-bottom: 1px solid lightgrey;">
      <ion-col col-4 style="font-size: 16px;color: gray;">
        <ion-icon name="people"></ion-icon>&nbsp;Gender
      </ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-7 style="text-align: left;font-size: 18px;color:black;"
        *ngIf="dataofstudent.students.gender != undefined">{{dataofstudent.students.gender}}</ion-col>
      <ion-col col-7 style="text-align: left;font-size: 18px;color:black;"
        *ngIf="dataofstudent.students.gender == undefined">N/A</ion-col>
    </ion-row>
    <ion-row style="margin:1%;border-bottom: 1px solid lightgrey;">
      <ion-col col-4 style="font-size: 16px;color: gray;">
        <ion-icon name="water"></ion-icon>&nbsp;Blood Group
      </ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-7 style="text-align: left;font-size: 18px;color:black;"
        *ngIf="dataofstudent.students.bg != undefined">{{dataofstudent.students.bg}}</ion-col>
      <ion-col col-7 style="text-align: left;font-size: 18px;color:black;"
        *ngIf="dataofstudent.students.bg == undefined">N/A</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4 style="font-size: 16px;color: gray;">
        <ion-icon name="home"></ion-icon>&nbsp;Home Add
      </ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-7 style="text-align: left;font-size: 18px;color:black;">{{dataofstudent.students.address}}</ion-col>
    </ion-row>

    <h6 style="padding:4%; ">PICKUP LOCATION</h6>
    <ion-row style="padding:2%;">
      <div id="{{studentid}}" style="height: 200px;width: 390px;">
        {{studentid}}</div>

    </ion-row>
  </ion-card>
  <!-- <h5 style="padding:4%;">Guardian</h5>
  <ion-row style="margin:2%;border-bottom: 1px solid lightgrey;">
    <ion-col col-4 style="font-size: 16px;color: gray;">
      <ion-icon name="gender"></ion-icon>&nbsp;Name
    </ion-col>
    <ion-col col-1>:</ion-col>
    <ion-col col-7 style="text-align: left;font-size: 18px;color:black;">{{profilesParentname}}</ion-col>
  </ion-row>
  <ion-row style="margin:2%;border-bottom: 1px solid lightgrey;">
    <ion-col col-4 style="font-size: 16px;color: gray;">
      <ion-icon name="gender"></ion-icon>&nbsp;Relation
    </ion-col>
    <ion-col col-1>:</ion-col>
    <ion-col col-7 style="text-align: left;font-size: 18px;color:black;" *ngIf="profilesParenterelation != undefined">
      {{profilesParenterelation}}</ion-col>
    <ion-col col-7 style="text-align: left;font-size: 18px;color:black;" *ngIf="profilesParenterelation == undefined">
      N/A</ion-col>
  </ion-row>
  <ion-row style="margin:2%;border-bottom: 1px solid lightgrey;">
    <ion-col col-4 style="font-size: 16px;color: gray;">
      <ion-icon name="gender"></ion-icon>&nbsp;Phone
    </ion-col>
    <ion-col col-1>:</ion-col>
    <ion-col col-7 style="text-align: left;font-size: 18px;color:black;">{{profilesParentphone}}</ion-col>
  </ion-row>
  <ion-row style="margin:2%;">
    <ion-col col-4 style="font-size: 16px;color: gray;">
      <ion-icon name="gender"></ion-icon>&nbsp;Email
    </ion-col>
    <ion-col col-1>:</ion-col>
    <ion-col col-7 style="text-align: left;font-size: 18px;color:black;">{{profilesParentemail}}</ion-col>
  </ion-row> -->
</ion-content>