<ion-header>
        <ion-navbar color="customCol">
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
              </button>
          <ion-title>Bus</ion-title>
        </ion-navbar>
      </ion-header>
      <ion-content>
          <ion-grid>
              <ion-row>
                <ion-col>
                    <ion-card style="border-radius: 5px;">
            
                        <ion-item>
                            <ion-avatar item-start>
                                <img src="assets/icon/bus.png">
                              </ion-avatar>
                          <h2>IntrCity SmartBus-RailYatri</h2>
                          <!-- <p>November 5, 1955</p> -->
                        </ion-item>
                      
                        <!-- <img src="img/advance-card-bttf.png"> -->
                      
                        <!-- <ion-card-content>
                          <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
                        </ion-card-content> -->
                      
                        <ion-row padding-left>
                            <ion-col>
                              <p style="color: red;font-size: 13px">Only 4 seats left</p>
                            </ion-col>
                            <ion-col text-center>
                                    <p style="font-size: 15px; color: black;">
                                            8:30 PM
                                    </p>
                            </ion-col>
                            <ion-col align-self-center text-center>
                                    <button ion-button small (click)="book()">
                                        Book Seat
                                          </button>
                            </ion-col>
                          </ion-row>
                      
                      </ion-card>
                      <ion-card style="border-radius: 5px;">
                          <ion-item>
                              <ion-avatar item-start>
                                  <img src="assets/icon/bus.png">
                                </ion-avatar>
                            <h2>Venkatesh Tours & Tarvels</h2>
                          </ion-item>
                          <ion-row padding-left>
                              <ion-col>
                                <p style="color: red;font-size: 13px">Only 4 seats left</p>
                              </ion-col>
                              <ion-col text-center>
                                      <p style="font-size: 15px; color: black;">
                                              8:30 PM
                                      </p>
                              </ion-col>
                              <ion-col align-self-center text-center>
                                      <button ion-button small (click)="book()">
                                          Book Seat
                                            </button>
                              </ion-col>
                            </ion-row>
                        
                        </ion-card>
                        <ion-card style="border-radius: 5px;">
                            <ion-item>
                                <ion-avatar item-start>
                                    <img src="assets/icon/bus.png">
                                  </ion-avatar>
                                  <h2>Venkatesh Tours & Tarvels</h2>
                            </ion-item>
                            <ion-row padding-left>
                                <ion-col>
                                  <p style="color: red;font-size: 13px">Only 4 seats left</p>
                                </ion-col>
                                <ion-col text-center>
                                        <p style="font-size: 15px; color: black;">
                                                8:30 PM
                                        </p>
                                </ion-col>
                                <ion-col align-self-center text-center>
                                        <button ion-button small (click)="book()">
                                            Book Seat
                                              </button>
                                </ion-col>
                              </ion-row>
                          
                          </ion-card>
                          <ion-card style="border-radius: 5px;">
                              <ion-item>
                                  <ion-avatar item-start>
                                      <img src="assets/icon/bus.png">
                                    </ion-avatar>
                                    <h2>Venkatesh Tours & Tarvels</h2>
                              </ion-item>
                              <ion-row padding-left>
                                  <ion-col>
                                    <p style="color: red;font-size: 13px">Only 4 seats left</p>
                                  </ion-col>
                                  <ion-col text-center>
                                          <p style="font-size: 15px; color: black;">
                                                  8:30 PM
                                          </p>
                                  </ion-col>
                                  <ion-col align-self-center text-center>
                                          <button ion-button small (click)="book()">
                                              Book Seat
                                                </button>
                                  </ion-col>
                                </ion-row>
                            
                            </ion-card>
                            <ion-card style="border-radius: 5px;">
                                <ion-item>
                                    <ion-avatar item-start>
                                        <img src="assets/icon/bus.png">
                                      </ion-avatar>
                                      <h2>Venkatesh Tours & Tarvels</h2>
                                </ion-item>
                                <ion-row padding-left>
                                    <ion-col>
                                      <p style="color: red;font-size: 13px">Only 4 seats left</p>
                                    </ion-col>
                                    <ion-col text-center>
                                            <p style="font-size: 15px; color: black;">
                                                    8:30 PM
                                            </p>
                                    </ion-col>
                                    <ion-col align-self-center text-center>
                                            <button ion-button small (click)="book()">
                                                Book Seat
                                                  </button>
                                    </ion-col>
                                  </ion-row>
                              
                              </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
      </ion-content>
      