<ion-header>
  <ion-navbar color="customCol">
    <ion-title>Bus Tracking</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div id="map_canvas_single_device" style="height: 100%; width: 100%;">
    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top:10%">
      <button ion-fab mini (click)="shareLive($event)" color="gpsc">
        <ion-icon name="share" color="black"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top:23%">
      <button ion-fab mini (click)="onSelectMapOption('mapTrail')" color="{{_commonVar.mapTrail ? 'light' : 'gpsc'}}">
        <ion-icon name="eye" color="{{_commonVar.mapTrail ? 'dark-grey' : 'black'}}"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top:36%">
      <button ion-fab mini (click)="onSelectMapOption('mapHideTraffic')"
        color="{{_commonVar.mapHideTraffic ? 'light' : 'gpsc'}}">
        <ion-icon name="walk" color="{{_commonVar.mapHideTraffic ? 'dark-grey' : 'black'}}"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top:49%">
      <button ion-fab mini (click)="zoomin()" color="gpsc">
        <ion-icon name="add" color="black"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top:63%">
      <button ion-fab mini (click)="zoomout()" color="gpsc">
        <ion-icon name="remove" color="black"></ion-icon>
      </button>
    </ion-fab>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="light-grey">
    <ion-row style="letter-spacing: 1.2px">
      <ion-col col-6>
        <ion-row>
          <ion-col col-3>
            <!-- <img src="assets/imgs/dummy_user.jpg" width="90" height="30" style="border-radius: 50%;" /> -->
            <img src="assets/imgs/dummy_user.jpg" style="border-radius: 50%;" />
          </ion-col>
          <ion-col col-9>
            <ion-row>
              <ion-col col-12 no-padding><b>{{_commonVar._data.scheduleschools.driverDetail.first_name}}</b> </ion-col>
              <ion-col col-12 no-padding (click)="dialNumber(_commonVar._data.scheduleschools.driverDetail.phone)">
                {{_commonVar._data.scheduleschools.driverDetail.phone}}
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 style="text-align: center">
            <div>
              <img src="assets/imgs/car.png" height="20" height="20">
            </div>
          </ion-col>
          <ion-col col-9>
            <ion-row>
              <ion-col col-12 style="padding-top: 5px; padding-left: 0px; padding-right: 5px; padding-top: 5px;">
                <b>{{_commonVar._data.scheduleschools.schoolVehicles.device.Device_Name}}</b>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-6>
        <ion-row>
          <ion-col col-3>
            <!-- <img src="assets/imgs/team.png" width="90" height="30" /> -->
            <img src="assets/imgs/team.png" />
          </ion-col>
          <ion-col col-9>
            <ion-row>
              <ion-col col-12 no-padding>
                With:
                <ion-badge style="background-color:#d74214" tappable
                  (click)="openPopover($event);$event.stopPropagation();">{{_commonVar._totEmpCount - 1}}</ion-badge>
              </ion-col>
              <ion-col col-12 no-padding (click)="dialNumber(_commonVar._data.scheduleschools.driverDetail.phone)">
                <b>OTP</b>: {{_commonVar._otp}}
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col col-12>
            <ion-row style="font-size: 0.9em;">
              <ion-col tappable (click)="openPopover($event);$event.stopPropagation();" col-12 no-padding>Travelling
                With:
                <ion-badge style="background-color:#d74214">2+</ion-badge>
              </ion-col>
              <ion-col col-12 no-padding>OTP: 4567</ion-col>
            </ion-row>
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col col-3 style="text-align: center">
            <div>
              <img src="assets/imgs/telemarketer.png" height="20" height="20">
            </div>
          </ion-col>
          <ion-col col-9>
            <ion-row>
              <ion-col col-12 (click)="dialNumber(2323452345)"
                style="padding-top: 5px; padding-left: 0px; padding-right: 5px; padding-top: 5px;">
                <b>2323452345</b>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
<div *ngIf="_commonVar._showShareWindow">
  <ion-bottom-drawer [(hidden)]="drawerHidden" [dockedHeight]=200 [bounceThreshold]=800 [shouldBounce]=true
    [distanceTop]=-50>
    <div class="drawer-content">

      <ion-row>
        <ion-col col-12 style="padding: 5px">
          Share Live Vehicle
        </ion-col>
        <ion-col col-4 style="padding: 5px">
          <button ion-button block color="{{_commonVar.condition}}" (click)="sharedevices('15mins')">15
            mins</button>
        </ion-col>
        <ion-col col-4 style="padding: 5px">
          <button ion-button block color="{{_commonVar.condition1}}" (click)="sharedevices('1hour')">1
            hour</button>
        </ion-col>
        <ion-col col-4 style="padding: 5px">
          <button ion-button block color="{{_commonVar.condition2}}" (click)="sharedevices('8hours')">8
            hours</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4 style="text-align: right;">
          <ion-fab style="right: calc(10px + env(safe-area-inset-right));">
            <button ion-fab mini (click)="shareLivetemp()" color="gpsc">
              <ion-icon name="send" color="black"></ion-icon>
            </button>
          </ion-fab>
        </ion-col>
      </ion-row>
    </div>
  </ion-bottom-drawer>
</div>
<!-- <ion-footer>
  <ion-toolbar color="customCol">
    <ion-row>
      <ion-col col-33>
        <p style="font-size: 1.2em; margin: 0px; padding:0px; color:#fff;" *ngIf="!vehicle_speed">Speed 0 km/h</p>
        <p style="font-size: 1.2em; margin: 0px; padding:0px;; color:#fff;" *ngIf="vehicle_speed">Speed {{vehicle_speed}} km/h</p>
      </ion-col>
      <ion-col col-66>
        <p style="font-size: 1.2em; margin: 0px; padding:0px; color:#fff;" *ngIf="!todays_odo">Today Distance 0 km/h</p>
        <p style="font-size: 1.2em; margin: 0px; padding:0px; color:#fff;" *ngIf="todays_odo">Today Distance {{todays_odo | number : '1.0-2'}} km</p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->