page-home {
    .list-ios[inset],
    .list-md[inset] {
        margin: 0px;
        border-radius: 4px;
    }
    .headClass{
        text-align: center;
        color: #000;
        // letter-spacing: 1px;
    }

    .card-content-md,
    .card-content-ios {
        padding: 0px;
    }

    .titleStyle{
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
    }

    #cart-btn {
        position: relative;
        top:5px;
        
     }
     
     #cart-badge {
        position: absolute;
        top: -5px;
        right: 0px;
        background-color:#d74214;
        color: #ffffff;
     }
}
