<ion-header>
  <ion-toolbar color="customCol">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      <div class="titleStyle">Home</div>
    </ion-title>
    <ion-buttons end>
      <button id="cart-btn" ion-button clear icon-only (click)="seeNotifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge id="cart-badge">{{cartCount}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card style="background-color: #eff3f7; letter-spacing: 1.5px;" *ngFor="let sch of schedules;"
    (tap)="showTrip(sch)">
    <ion-fab top left>
      <button ion-fab mini style="background-color: #4aa9d5;" *ngIf="sch.scheduleschools.type == 'UP'"><b>P</b></button>
      <button ion-fab mini style="background-color: #d74214;" *ngIf="sch.scheduleschools.type != 'UP'"><b>D</b></button>
    </ion-fab>
    <ion-card-header class="headClass">
      <ion-row>
        <ion-col col-12>
          <h2 style="font-size: 2.6rem">{{sch.scheduleschools.schoolVehicles.name}}</h2>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col col-12>{{sch.scheduleschools.scheduleName}}</ion-col>
      </ion-row> -->
      <ion-row *ngIf="sch.scheduleschools.trackRoute != undefined">
        <ion-col col-12>
          {{sch.scheduleschools.trackRoute.name}}
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col col-12 *ngIf="sch.scheduleschools.type == 'UP'" style="text-align: center; background-color: #4aa9d5;">
          <ion-row>
            <ion-col col-6 style="border-right: 2px solid white;">
              <h3 style="color:#fff; font-size: 2.4rem">PICKUP</h3>
            </ion-col>
            <ion-col col-6>
              <h4 style="color: #000; font-size: 2.4rem">{{sch.scheduleschools.pickup | date:'shortTime'}}</h4>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-12 *ngIf="sch.scheduleschools.type != 'UP'" style="text-align: center; background-color: #d74214;">
          <ion-row>
            <ion-col col-6 style="border-right: 2px solid white;">
              <h3 style="color:#fff; font-size: 2.4rem">DROP</h3>
            </ion-col>
            <ion-col col-6>
              <h4 style="color: #000; font-size: 2.4rem">{{sch.scheduleschools.drop | date:'shortTime'}}</h4>
            </ion-col>
          </ion-row>
          <!-- <h4 style="color: #000; font-size: 2.4rem">{{sch.scheduleschools.drop | date:'shortTime'}}</h4>
          <h3 style="color:#fff;">DROP</h3> -->

        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-6 style="text-align: center; background-color: #343a40; color:#fff">
              <ion-icon name="person" color="customCol"></ion-icon>
              &nbsp;{{sch.scheduleschools.driverDetail.first_name}} {{sch.scheduleschools.driverDetail.last_name}}
            </ion-col>
            <ion-col col-6 style="text-align: center; background-color: #343a40; color:#fff">
                <ion-icon name="call" color="customCol"></ion-icon>
                &nbsp;{{sch.scheduleschools.driverDetail.phone}}
              </ion-col>
        <!-- <ion-col col-12 style="text-align: center; background-color: #16a24b; color:#fff"> -->
        <!-- <ion-col col-12 style="text-align: center; background-color: #343a40; color:#fff">
          <ion-icon name="car" color="customCol"></ion-icon>
          &nbsp;{{sch.scheduleschools.schoolVehicles.device.Device_Name}}
        </ion-col> -->
        <!-- <ion-col col-12 style="text-align: center; background-color: #343a40; color:#fff" *ngIf="sch.scheduleschools.schoolVehicles == undefined">
            <ion-icon name="car" color="customCol"></ion-icon>
            &nbsp;N/A
          </ion-col> -->
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-row no-padding>
      <ion-col col-33 style="text-align: center;">
          <ion-icon name="custom-bus"></ion-icon>
      </ion-col>
      <ion-col col-33 style="text-align: center;">
        <ion-icon name="car"></ion-icon>
    </ion-col>
    <ion-col col-33 style="text-align: center;">
      <ion-icon name="car"></ion-icon>
  </ion-col>
  </ion-row>
  <ion-row no-padding>
    <ion-col col-33 style="text-align: center;">
       Bus
    </ion-col>
    <ion-col col-33 style="text-align: center;">
      Shuttle
  </ion-col>
  <ion-col col-33 style="text-align: center;">
    Cab
</ion-col>
</ion-row>
  </ion-toolbar>
</ion-footer> -->