<ion-header>
  <ion-navbar color="customCol">
    <ion-title>View History</ion-title>
    <ion-buttons end>
      <div *ngIf="hideplayback">
        <ion-icon color="light" name="rewind" style="font-size:19px;margin-top:11px;margin-right: 17px" (click)="inter('slow')"></ion-icon>
        <ion-icon color="light" name="arrow-dropright-circle" style="font-size:24px;margin-top:10px;margin-right: 15px" class="play"
          *ngIf="!playing" (click)="Playback()"></ion-icon>
        <ion-icon color="light" name="pause" style="font-size:24px;margin-top:10px;margin-right: 15px" class="pause" *ngIf="playing"
          (click)="Playback()"></ion-icon>
        <ion-icon color="light" name="fastforward" style="font-size:19px;margin-top:11px;margin-right: 17px" (click)="inter('fast')"></ion-icon>

      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div id="map_canvas">
    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top: 68%" *ngIf="showZoom">
      <button ion-fab mini (click)="zoomin()" color="gpsc">
        <ion-icon name="add" color="black"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top: 80%" *ngIf="showZoom">
      <button ion-fab mini (click)="zoomout()" color="gpsc">
        <ion-icon name="remove" color="black"></ion-icon>
      </button>
    </ion-fab>
  </div>
</ion-content>
<ion-footer class="footSty">

  <ion-row style="background-color: #dfdfdf; padding: 0px !important;">
    <ion-col width-50 style="padding: 0px">
      <p style="color:black;font-size:14px; text-align:center;">
        <ion-icon name="time" style="color:#33cd5f;font-size:15px;"></ion-icon>&nbsp;
        <span *ngIf="updatetimedate">{{updatetimedate}}&nbsp;</span>
        <span *ngIf="!updatetimedate">0:0&nbsp;</span>
      </p>
    </ion-col>

    <ion-col width-50 style="padding: 0px">
      <p style="color:black;font-size:14px;text-align:center;">
        <ion-icon name="speedometer" style="color:#cd4343"></ion-icon>&nbsp;
        <span *ngIf="speedMarker">{{speedMarker}}&nbsp;Km/hr</span>
        <span *ngIf="!speedMarker">0&nbsp;Km/hr</span>
      </p>
    </ion-col>
  </ion-row>

  <ion-toolbar class="footSty">
    <ion-row no-padding>
      <ion-col width-50 style="text-align: center; border-right: 1px solid white; padding: 0px !important">
        <p style="color: white; margin:0px; padding:0px" *ngIf="data2">{{data2.Distance}} km</p>
        <p style="color: white; margin:0px; padding:0px" *ngIf="!data2">0 Km</p>
        <p style="color: white; margin:0px; padding:0px">
          Total Distance
        </p>

      </ion-col>

      <ion-col width-50 style="text-align: center; padding: 0px !important">
        <p style="color:#ffffff; margin:0px; padding:0px" *ngIf="data2">{{data2.AverageSpeed}}</p>
        <p style="color:#ffffff; margin:0px; padding:0px" *ngIf="!data2">0 (Km/h)</p>
        <p style="color:#ffffff; margin:0px; padding:0px">Average Speed</p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>