<ion-header>

  <ion-navbar color="customCol">
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
          </ion-refresher-content>
    </ion-refresher>
    <ion-list>
      <ion-item *ngFor="let item of notData" (click)="itemSelected(item)">
        <ion-icon ios="ios-notifications" md="md-notifications" item-start></ion-icon>
          <h4>{{item.item['_type']}}</h4>
          <p text-wrap>{{item.item['sentence']}}</p>
          <p><ion-icon name="clock"></ion-icon>&nbsp;&nbsp;{{item.timestamp | date:'short'}}</p>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="!notData">
      <ion-item>
        <p>You have not received notifications yet...!!</p>
      </ion-item>
    </ion-list>
</ion-content>