<!-- <ion-nav [root]="rootPage"></ion-nav> -->
<ion-split-pane>

      
        <!-- logged in menu -->
        <ion-menu [content]="content">
      
          <ion-header>
            <ion-toolbar color="customCol">
              <ion-title>Menu</ion-title>
            </ion-toolbar>
          </ion-header>
      
          <ion-content class="outer-content">
      
            <ion-list>
              <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
                <ion-icon item-start [name]="p.icon"></ion-icon>
                {{p.title}}
              </button>
            </ion-list>
      
          </ion-content>
      
        </ion-menu>
      
        <!-- main navigation -->
        <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>
      
      </ion-split-pane>